:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --font-sans: "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mont: "Montserrat", sans-serif; */
  --radius: 25px;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #007eed;
  --primary: #007eed;
  --primary-foreground: #ffffff;
  --secondary: #b7e3fa;
  --secondary-foreground: #b7e3fa;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #007eed;
  --destructive: #ef4444;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #737373;
  --chart-1: #3b82f6;
  --chart-2: #0ea5e9;
  --chart-3: #0284c7;
  --chart-4: #38bdf8;
  --chart-5: #7dd3fc;
  --sidebar: #ffffff;
  --sidebar-foreground: #171717;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #737373;
  --font-sans:
    "SpoqaHanSansNeo", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mont: "Montserrat", sans-serif;
}
